.main-container {
  background-color: #2c2838;
  overflow: hidden;
  font-family: "Roboto";
}

.main-container .img-overlay {
  position: absolute;
  width: 213pt;
  height: 233pt;
  right: 0;
}

.header-section {
  margin-top: 66px;
  padding-right: 20pt;
  padding-left: 20pt;
}

.header-section .brand-name {
  text-transform: uppercase;
  font-size: 18pt;
  color: #e6e6e6;
  line-height: 1.1;
  font-weight: 800;
}

.header-section .brand-subname {
  text-transform: uppercase;
  font-size: 14pt;
  color: #e6e6e6;
  line-height: 1.1;
}

.header-section img {
  height: 40pt;
  width: 40pt;
}

.podcast-section {
  margin-top: 102px;
  padding-right: 20pt;
  padding-left: 20pt;
}

.podcast-section .podcast-header, .podcast-section .search-section .search-header {
  text-transform: uppercase;
  font-size: 22pt;
  color: #e6e6e6;
  font-weight: 800;
}

.podcast-section .search-section .trending img {
  width: 20pt;
  height: 18pt;
}

.podcast-section .search-section .recent img {
  width: 20pt;
  height: 18pt;
}

.search .input-group {
  width: 100%;
  position: relative;
}

.search .input-group .form-control {
  margin-right: 40pt;
  background: #2c2838;
  border-right: 0px;
  border-radius: 25px 0px 0px 25px;
  padding: 0% 5%;
  color: #fff;
  -webkit-transition: all 1s;
  transition: all 1s;
  opacity: 0;
}

.search .input-group-append {
  border-left: 0px;
  position: absolute;
  right: 0;
}

.search .input-group-append .input-group-text {
  width: 40pt;
  border-left: 1px solid #ced4da;
  border-radius: 25px !important;
  height: 40pt;
  background: #2c2838;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.search .input-group-append .input-group-text img {
  width: 14pt;
  height: 14pt;
  margin: 0 auto;
}

.search .input-group-append .input-group-text.open {
  border-left: 0px !important;
  border-radius: 0 25px 25px 0 !important;
}

.genre-list {
  display: inline-block;
  display: inline-block;
  margin-top: 8px;
  margin-right: 8px;
}

.genre-list .button {
  background: rgba(255, 255, 255, 0.1);
  border-radius: 25px;
  color: #737373;
  display: inline-block;
  padding: 1px;
  text-decoration: none;
}

.genre-list .button .text {
  background: #2c2838;
  display: inline-block;
  padding: 6px 17px 10px 17px;
  border-radius: 25px;
  font-size: 14pt;
  font-weight: 600;
}

.genre-list .button .dot {
  display: none;
}

.genre-list.active .button {
  background: -webkit-gradient(linear, left top, right top, from(#da40ec), color-stop(#f74687), to(#fbc9ab));
  background: linear-gradient(to right, #da40ec, #f74687, #fbc9ab);
  color: #e6e6e6;
}

.genre-list.active .button .dot {
  display: inline-block;
  border-radius: 25px;
  background: #50e3c2;
  height: 6px;
  width: 6px;
  vertical-align: middle;
  margin-right: 10px;
}

.genre-list.more .button {
  color: #50e3c2;
}

.album-section {
  padding-right: 20pt;
  padding-left: 20pt;
}

.album-section .album-card {
  margin-top: 33px;
}

.album-section .album-card .container-album {
  height: 185px;
  width: 198px;
  position: relative;
}

.album-section .album-card .album-img {
  width: 133px;
  height: 185px;
  position: absolute;
  left: 0;
  z-index: 1;
}

.album-section .album-card .album-img img {
  border-radius: 10px;
  -o-object-fit: cover;
     object-fit: cover;
}

.album-section .album-card .album-disc {
  border: 50px solid #3e3a52;
  border-radius: 100%;
  height: 100%;
  position: absolute;
  top: 50%;
  right: 0;
  height: 132px;
  width: 132px;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

.album-section .album-card .ep-section {
  position: absolute;
  top: 50%;
  right: 12px;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

.album-section .album-card .ep-section .count {
  font-size: 14pt;
  line-height: 12pt;
  color: #50e3c2;
}

.album-section .album-card .ep-section .title {
  font-size: 10pt;
  line-height: 12pt;
  color: #e6e6e6;
}

.album-section .album-card .check-img {
  width: 30px;
  height: 30px;
  vertical-align: unset;
}

.album-section .album-card .album-title {
  font-size: 12pt;
  font-weight: 700;
  color: #e6e6e6;
}

.navbar-section {
  padding-right: 20pt;
  padding-left: 20pt;
  margin: 44px 0;
}

.navbar-section .nav-icon {
  width: 33px;
  height: 33px;
}

.fade-away,
.fade-in {
  -webkit-transition: all 1s;
  transition: all 1s;
}

.fade-in {
  position: absolute;
  top: 0;
  -webkit-transform: translateX(100%);
          transform: translateX(100%);
}
/*# sourceMappingURL=home_page.css.map */