@import "../index";

.main-container {
  background-color: $primaryBg;
  overflow: hidden;
  font-family: "Roboto";
  .img-overlay {
    position: absolute;
    width: 213pt;
    height: 233pt;
    right: 0;
  }
}
.header-section {
  margin-top: 66px;
  padding-right: 20pt;
  padding-left: 20pt;
  .brand-name {
    text-transform: uppercase;
    font-size: 18pt;
    color: $secondaryTextColor;
    line-height: 1.1;
    font-weight: 800;
  }
  .brand-subname {
    text-transform: uppercase;
    font-size: 14pt;
    color: $secondaryTextColor;
    line-height: 1.1;
  }
  img {
    height: 40pt;
    width: 40pt;
  }
}
.podcast-section {
  margin-top: 102px;
  padding-right: 20pt;
  padding-left: 20pt;
  .podcast-header {
    text-transform: uppercase;
    font-size: 22pt;
    color: $secondaryTextColor;
    font-weight: 800;
  }
  .search-section {
    .search-header {
      @extend .podcast-header;
    }
    .trending img {
      width: 20pt;
      height: 18pt;
    }
    .recent img {
      width: 20pt;
      height: 18pt;
    }
  }
}
.search {
  .input-group {
    width: 100%;
    position: relative;

    .form-control {
    margin-right: 40pt;
      background: $primaryBg;
      border-right: 0px;
      border-radius: 25px 0px 0px 25px;
      padding: 0% 5%;
      color: #fff;
      -webkit-transition: all 1s;
      -moz-transition: all 1s;
      -ms-transition: all 1s;
      -o-transition: all 1s;
      transition: all 1s;
      opacity: 0;
    }
  }
  .input-group-append {
    border-left: 0px;
    position: absolute;
    right: 0;
    .input-group-text {
      width: 40pt;
      border-left: 1px solid #ced4da ;
      border-radius: 25px !important;
      height: 40pt;
    
      background: $primaryBg;
      -webkit-transition: all 0.3s;
      -moz-transition: all 0.3s;
      -ms-transition: all 0.3s;
      -o-transition: all 0.3s;
      transition: all 0.3s;
      img {
        width: 14pt;
        height: 14pt;
        margin: 0 auto;
      }
    }
    .input-group-text.open {
      border-left: 0px !important;
      border-radius: 0 25px 25px 0 !important;
    }
  }
}

.genre-list {
  display: inline-block;
  display: inline-block;
  margin-top: 8px;
  margin-right: 8px;
  .button {
    background: rgba(255, 255, 255, 0.1);
    border-radius: 25px;
    color: rgb(115, 115, 115);
    display: inline-block;
    padding: 1px;
    text-decoration: none;
  }
  .button .text {
    background: $primaryBg;
    display: inline-block;
    padding: 6px 17px 10px 17px;
    border-radius: 25px;
    font-size: 14pt;
    font-weight: 600;
  }
  .button .dot {
    display: none;
  }
}
.genre-list.active {
  .button {
    background: linear-gradient(
      to right,
      rgb(218, 64, 236),
      rgb(247, 70, 135),
      rgb(251, 201, 171)
    );
    color: $secondaryTextColor;
  }
  .button .dot {
    display: inline-block;
    border-radius: 25px;
    background: #50e3c2;
    height: 6px;
    width: 6px;
    vertical-align: middle;
    margin-right: 10px;
  }
}
.genre-list.more {
  .button {
    color: $primaryTextColor;
  }
}
.album-section {
  padding-right: 20pt;
  padding-left: 20pt;
  .album-card {
    margin-top: 33px;
    .container-album {
      height: 185px;
      width: 198px;
      position: relative;
    }
    .album-img {
      width: 133px;
      height: 185px;
      position: absolute;
      left: 0;
      z-index: 1;
      img {
        border-radius: 10px;
        object-fit: cover;
      }
    }
    .album-disc {
      border: 50px solid rgb(62, 58, 82);
      border-radius: 100%;
      height: 100%;
      position: absolute;
      top: 50%;
      right: 0;
      height: 132px;
      width: 132px;
      transform: translateY(-50%);
    }
    .ep-section {
      position: absolute;
      top: 50%;
      right: 12px;
      transform: translateY(-50%);
      .count {
        font-size: 14pt;
        line-height: 12pt;
        color: $primaryTextColor;
      }
      .title {
        font-size: 10pt;
        line-height: 12pt;
        color: $secondaryTextColor;
      }
    }
    .check-img {
      width: 30px;
      height: 30px;
      vertical-align: unset;
    }
    .album-title {
      font-size: 12pt;
      font-weight: 700;
      color: $secondaryTextColor;
    }
  }
}
.navbar-section {
  padding-right: 20pt;
  padding-left: 20pt;
  margin: 44px 0;
  .nav-icon {
    width: 33px;
    height: 33px;
  }
}
.fade-away,
.fade-in {
  -webkit-transition: all 1s;
  -moz-transition: all 1s;
  -ms-transition: all 1s;
  -o-transition: all 1s;
  transition: all 1s;
}
.fade-in {
  position: absolute;
  top: 0;
  transform: translateX(100%);
}
