.main-container {
  background-color: #2c2838;
  font-family: "Roboto";
  background-image: url("../../images/coverImage@3x.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 375pt;
}

.main-container .img-overlay {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
}

.header-section {
  margin-top: 66px;
  padding-right: 20pt;
  padding-left: 20pt;
}

.header-section .brand-name {
  text-transform: uppercase;
  font-size: 18pt;
  color: #e6e6e6;
  line-height: 1.1;
  font-weight: 800;
}

.header-section .brand-subname {
  text-transform: uppercase;
  font-size: 14pt;
  color: #e6e6e6;
  line-height: 1.1;
}

.header-section img {
  height: 40pt;
  width: 40pt;
}

.title-detail-desc {
  padding: 0 28pt;
  margin-top: 130pt;
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(44, 41, 57, 0)), to(#2c2939));
  background: linear-gradient(to bottom, rgba(44, 41, 57, 0), #2c2939);
}

.title-detail-desc .now-playing {
  background: rgba(44, 41, 57, 0.5);
  padding: 2pt 9pt;
  color: #50e3c2;
  border-radius: 15pt;
  font-size: 12pt;
}

.title-detail-desc .track-sectio-d {
  margin-top: 6pt;
}

.title-detail-desc .track-name {
  font-size: 18pt;
  color: #fff;
  letter-spacing: 0;
}

.title-detail-desc .eps-name {
  font-size: 14pt;
  color: #918f97;
}

.title-detail-desc .play-button {
  height: 57pt;
  width: 57pt;
  border: 1px solid #918f97;
  border-radius: 100%;
  position: relative;
  margin-left: auto;
}

.title-detail-desc .play-button img {
  width: 15pt;
  height: 17pt;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.seek-row {
  background: #2c2939;
  padding: 0 28pt;
}

.e-range {
  display: block;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  width: 100%;
  margin: 0;
  height: 30px;
  overflow: hidden;
  cursor: pointer;
  background: transparent;
}

.e-range:focus {
  outline: none;
}

.e-range::-webkit-slider-runnable-track {
  width: 100%;
  height: 30px;
  background: -webkit-gradient(linear, left top, left bottom, from(#c036d0), to(#c036d0)) 100% 50%/100% 3px no-repeat transparent;
  background: linear-gradient(to bottom, #c036d0, #c036d0) 100% 50%/100% 3px no-repeat transparent;
}

.e-range::-webkit-slider-thumb {
  position: relative;
  -webkit-appearance: none;
          appearance: none;
  height: 13px;
  width: 13px;
  background: #50e3c2;
  border-radius: 100%;
  border: 0;
  top: 50%;
  margin-top: -6.5px;
  -webkit-box-shadow: 1px 0 0 -5px #918f97, 2px 0 0 -5px #918f97, 3px 0 0 -5px #918f97, 4px 0 0 -5px #918f97, 5px 0 0 -5px #918f97, 6px 0 0 -5px #918f97, 7px 0 0 -5px #918f97, 8px 0 0 -5px #918f97, 9px 0 0 -5px #918f97, 10px 0 0 -5px #918f97, 11px 0 0 -5px #918f97, 12px 0 0 -5px #918f97, 13px 0 0 -5px #918f97, 14px 0 0 -5px #918f97, 15px 0 0 -5px #918f97, 16px 0 0 -5px #918f97, 17px 0 0 -5px #918f97, 18px 0 0 -5px #918f97, 19px 0 0 -5px #918f97, 20px 0 0 -5px #918f97, 21px 0 0 -5px #918f97, 22px 0 0 -5px #918f97, 23px 0 0 -5px #918f97, 24px 0 0 -5px #918f97, 25px 0 0 -5px #918f97, 26px 0 0 -5px #918f97, 27px 0 0 -5px #918f97, 28px 0 0 -5px #918f97, 29px 0 0 -5px #918f97, 30px 0 0 -5px #918f97, 31px 0 0 -5px #918f97, 32px 0 0 -5px #918f97, 33px 0 0 -5px #918f97, 34px 0 0 -5px #918f97, 35px 0 0 -5px #918f97, 36px 0 0 -5px #918f97, 37px 0 0 -5px #918f97, 38px 0 0 -5px #918f97, 39px 0 0 -5px #918f97, 40px 0 0 -5px #918f97, 41px 0 0 -5px #918f97, 42px 0 0 -5px #918f97, 43px 0 0 -5px #918f97, 44px 0 0 -5px #918f97, 45px 0 0 -5px #918f97, 46px 0 0 -5px #918f97, 47px 0 0 -5px #918f97, 48px 0 0 -5px #918f97, 49px 0 0 -5px #918f97, 50px 0 0 -5px #918f97, 51px 0 0 -5px #918f97, 52px 0 0 -5px #918f97, 53px 0 0 -5px #918f97, 54px 0 0 -5px #918f97, 55px 0 0 -5px #918f97, 56px 0 0 -5px #918f97, 57px 0 0 -5px #918f97, 58px 0 0 -5px #918f97, 59px 0 0 -5px #918f97, 60px 0 0 -5px #918f97, 61px 0 0 -5px #918f97, 62px 0 0 -5px #918f97, 63px 0 0 -5px #918f97, 64px 0 0 -5px #918f97, 65px 0 0 -5px #918f97, 66px 0 0 -5px #918f97, 67px 0 0 -5px #918f97, 68px 0 0 -5px #918f97, 69px 0 0 -5px #918f97, 70px 0 0 -5px #918f97, 71px 0 0 -5px #918f97, 72px 0 0 -5px #918f97, 73px 0 0 -5px #918f97, 74px 0 0 -5px #918f97, 75px 0 0 -5px #918f97, 76px 0 0 -5px #918f97, 77px 0 0 -5px #918f97, 78px 0 0 -5px #918f97, 79px 0 0 -5px #918f97, 80px 0 0 -5px #918f97, 81px 0 0 -5px #918f97, 82px 0 0 -5px #918f97, 83px 0 0 -5px #918f97, 84px 0 0 -5px #918f97, 85px 0 0 -5px #918f97, 86px 0 0 -5px #918f97, 87px 0 0 -5px #918f97, 88px 0 0 -5px #918f97, 89px 0 0 -5px #918f97, 90px 0 0 -5px #918f97, 91px 0 0 -5px #918f97, 92px 0 0 -5px #918f97, 93px 0 0 -5px #918f97, 94px 0 0 -5px #918f97, 95px 0 0 -5px #918f97, 96px 0 0 -5px #918f97, 97px 0 0 -5px #918f97, 98px 0 0 -5px #918f97, 99px 0 0 -5px #918f97, 100px 0 0 -5px #918f97, 101px 0 0 -5px #918f97, 102px 0 0 -5px #918f97, 103px 0 0 -5px #918f97, 104px 0 0 -5px #918f97, 105px 0 0 -5px #918f97, 106px 0 0 -5px #918f97, 107px 0 0 -5px #918f97, 108px 0 0 -5px #918f97, 109px 0 0 -5px #918f97, 110px 0 0 -5px #918f97, 111px 0 0 -5px #918f97, 112px 0 0 -5px #918f97, 113px 0 0 -5px #918f97, 114px 0 0 -5px #918f97, 115px 0 0 -5px #918f97, 116px 0 0 -5px #918f97, 117px 0 0 -5px #918f97, 118px 0 0 -5px #918f97, 119px 0 0 -5px #918f97, 120px 0 0 -5px #918f97, 121px 0 0 -5px #918f97, 122px 0 0 -5px #918f97, 123px 0 0 -5px #918f97, 124px 0 0 -5px #918f97, 125px 0 0 -5px #918f97, 126px 0 0 -5px #918f97, 127px 0 0 -5px #918f97, 128px 0 0 -5px #918f97, 129px 0 0 -5px #918f97, 130px 0 0 -5px #918f97, 131px 0 0 -5px #918f97, 132px 0 0 -5px #918f97, 133px 0 0 -5px #918f97, 134px 0 0 -5px #918f97, 135px 0 0 -5px #918f97, 136px 0 0 -5px #918f97, 137px 0 0 -5px #918f97, 138px 0 0 -5px #918f97, 139px 0 0 -5px #918f97, 140px 0 0 -5px #918f97, 141px 0 0 -5px #918f97, 142px 0 0 -5px #918f97, 143px 0 0 -5px #918f97, 144px 0 0 -5px #918f97, 145px 0 0 -5px #918f97, 146px 0 0 -5px #918f97, 147px 0 0 -5px #918f97, 148px 0 0 -5px #918f97, 149px 0 0 -5px #918f97, 150px 0 0 -5px #918f97, 151px 0 0 -5px #918f97, 152px 0 0 -5px #918f97, 153px 0 0 -5px #918f97, 154px 0 0 -5px #918f97, 155px 0 0 -5px #918f97, 156px 0 0 -5px #918f97, 157px 0 0 -5px #918f97, 158px 0 0 -5px #918f97, 159px 0 0 -5px #918f97, 160px 0 0 -5px #918f97, 161px 0 0 -5px #918f97, 162px 0 0 -5px #918f97, 163px 0 0 -5px #918f97, 164px 0 0 -5px #918f97, 165px 0 0 -5px #918f97, 166px 0 0 -5px #918f97, 167px 0 0 -5px #918f97, 168px 0 0 -5px #918f97, 169px 0 0 -5px #918f97, 170px 0 0 -5px #918f97, 171px 0 0 -5px #918f97, 172px 0 0 -5px #918f97, 173px 0 0 -5px #918f97, 174px 0 0 -5px #918f97, 175px 0 0 -5px #918f97, 176px 0 0 -5px #918f97, 177px 0 0 -5px #918f97, 178px 0 0 -5px #918f97, 179px 0 0 -5px #918f97, 180px 0 0 -5px #918f97, 181px 0 0 -5px #918f97, 182px 0 0 -5px #918f97, 183px 0 0 -5px #918f97, 184px 0 0 -5px #918f97, 185px 0 0 -5px #918f97, 186px 0 0 -5px #918f97, 187px 0 0 -5px #918f97, 188px 0 0 -5px #918f97, 189px 0 0 -5px #918f97, 190px 0 0 -5px #918f97, 191px 0 0 -5px #918f97, 192px 0 0 -5px #918f97, 193px 0 0 -5px #918f97, 194px 0 0 -5px #918f97, 195px 0 0 -5px #918f97, 196px 0 0 -5px #918f97, 197px 0 0 -5px #918f97, 198px 0 0 -5px #918f97, 199px 0 0 -5px #918f97, 200px 0 0 -5px #918f97, 201px 0 0 -5px #918f97, 202px 0 0 -5px #918f97, 203px 0 0 -5px #918f97, 204px 0 0 -5px #918f97, 205px 0 0 -5px #918f97, 206px 0 0 -5px #918f97, 207px 0 0 -5px #918f97, 208px 0 0 -5px #918f97, 209px 0 0 -5px #918f97, 210px 0 0 -5px #918f97, 211px 0 0 -5px #918f97, 212px 0 0 -5px #918f97, 213px 0 0 -5px #918f97, 214px 0 0 -5px #918f97, 215px 0 0 -5px #918f97, 216px 0 0 -5px #918f97, 217px 0 0 -5px #918f97, 218px 0 0 -5px #918f97, 219px 0 0 -5px #918f97, 220px 0 0 -5px #918f97, 221px 0 0 -5px #918f97, 222px 0 0 -5px #918f97, 223px 0 0 -5px #918f97, 224px 0 0 -5px #918f97, 225px 0 0 -5px #918f97, 226px 0 0 -5px #918f97, 227px 0 0 -5px #918f97, 228px 0 0 -5px #918f97, 229px 0 0 -5px #918f97, 230px 0 0 -5px #918f97, 231px 0 0 -5px #918f97, 232px 0 0 -5px #918f97, 233px 0 0 -5px #918f97, 234px 0 0 -5px #918f97, 235px 0 0 -5px #918f97, 236px 0 0 -5px #918f97, 237px 0 0 -5px #918f97, 238px 0 0 -5px #918f97, 239px 0 0 -5px #918f97, 240px 0 0 -5px #918f97, 241px 0 0 -5px #918f97, 242px 0 0 -5px #918f97, 243px 0 0 -5px #918f97, 244px 0 0 -5px #918f97, 245px 0 0 -5px #918f97, 246px 0 0 -5px #918f97, 247px 0 0 -5px #918f97, 248px 0 0 -5px #918f97, 249px 0 0 -5px #918f97, 250px 0 0 -5px #918f97, 251px 0 0 -5px #918f97, 252px 0 0 -5px #918f97, 253px 0 0 -5px #918f97, 254px 0 0 -5px #918f97, 255px 0 0 -5px #918f97, 256px 0 0 -5px #918f97, 257px 0 0 -5px #918f97, 258px 0 0 -5px #918f97, 259px 0 0 -5px #918f97, 260px 0 0 -5px #918f97, 261px 0 0 -5px #918f97, 262px 0 0 -5px #918f97, 263px 0 0 -5px #918f97, 264px 0 0 -5px #918f97, 265px 0 0 -5px #918f97, 266px 0 0 -5px #918f97, 267px 0 0 -5px #918f97, 268px 0 0 -5px #918f97, 269px 0 0 -5px #918f97, 270px 0 0 -5px #918f97, 271px 0 0 -5px #918f97, 272px 0 0 -5px #918f97, 273px 0 0 -5px #918f97, 274px 0 0 -5px #918f97, 275px 0 0 -5px #918f97, 276px 0 0 -5px #918f97, 277px 0 0 -5px #918f97, 278px 0 0 -5px #918f97, 279px 0 0 -5px #918f97, 280px 0 0 -5px #918f97, 281px 0 0 -5px #918f97, 282px 0 0 -5px #918f97, 283px 0 0 -5px #918f97, 284px 0 0 -5px #918f97, 285px 0 0 -5px #918f97, 286px 0 0 -5px #918f97, 287px 0 0 -5px #918f97, 288px 0 0 -5px #918f97, 289px 0 0 -5px #918f97, 290px 0 0 -5px #918f97, 291px 0 0 -5px #918f97, 292px 0 0 -5px #918f97, 293px 0 0 -5px #918f97, 294px 0 0 -5px #918f97, 295px 0 0 -5px #918f97, 296px 0 0 -5px #918f97, 297px 0 0 -5px #918f97, 298px 0 0 -5px #918f97, 299px 0 0 -5px #918f97, 300px 0 0 -5px #918f97, 301px 0 0 -5px #918f97, 302px 0 0 -5px #918f97, 303px 0 0 -5px #918f97, 304px 0 0 -5px #918f97, 305px 0 0 -5px #918f97, 306px 0 0 -5px #918f97, 307px 0 0 -5px #918f97, 308px 0 0 -5px #918f97, 309px 0 0 -5px #918f97, 310px 0 0 -5px #918f97, 311px 0 0 -5px #918f97, 312px 0 0 -5px #918f97, 313px 0 0 -5px #918f97, 314px 0 0 -5px #918f97, 315px 0 0 -5px #918f97, 316px 0 0 -5px #918f97, 317px 0 0 -5px #918f97, 318px 0 0 -5px #918f97, 319px 0 0 -5px #918f97, 320px 0 0 -5px #918f97, 321px 0 0 -5px #918f97, 322px 0 0 -5px #918f97, 323px 0 0 -5px #918f97, 324px 0 0 -5px #918f97, 325px 0 0 -5px #918f97, 326px 0 0 -5px #918f97, 327px 0 0 -5px #918f97, 328px 0 0 -5px #918f97, 329px 0 0 -5px #918f97, 330px 0 0 -5px #918f97, 331px 0 0 -5px #918f97, 332px 0 0 -5px #918f97, 333px 0 0 -5px #918f97, 334px 0 0 -5px #918f97, 335px 0 0 -5px #918f97, 336px 0 0 -5px #918f97, 337px 0 0 -5px #918f97, 338px 0 0 -5px #918f97, 339px 0 0 -5px #918f97, 340px 0 0 -5px #918f97, 341px 0 0 -5px #918f97, 342px 0 0 -5px #918f97, 343px 0 0 -5px #918f97, 344px 0 0 -5px #918f97, 345px 0 0 -5px #918f97, 346px 0 0 -5px #918f97, 347px 0 0 -5px #918f97, 348px 0 0 -5px #918f97, 349px 0 0 -5px #918f97, 350px 0 0 -5px #918f97, 351px 0 0 -5px #918f97, 352px 0 0 -5px #918f97, 353px 0 0 -5px #918f97, 354px 0 0 -5px #918f97, 355px 0 0 -5px #918f97, 356px 0 0 -5px #918f97, 357px 0 0 -5px #918f97, 358px 0 0 -5px #918f97, 359px 0 0 -5px #918f97, 360px 0 0 -5px #918f97, 361px 0 0 -5px #918f97, 362px 0 0 -5px #918f97, 363px 0 0 -5px #918f97, 364px 0 0 -5px #918f97, 365px 0 0 -5px #918f97, 366px 0 0 -5px #918f97, 367px 0 0 -5px #918f97, 368px 0 0 -5px #918f97, 369px 0 0 -5px #918f97, 370px 0 0 -5px #918f97, 371px 0 0 -5px #918f97, 372px 0 0 -5px #918f97, 373px 0 0 -5px #918f97, 374px 0 0 -5px #918f97, 375px 0 0 -5px #918f97, 376px 0 0 -5px #918f97, 377px 0 0 -5px #918f97, 378px 0 0 -5px #918f97, 379px 0 0 -5px #918f97, 380px 0 0 -5px #918f97, 381px 0 0 -5px #918f97, 382px 0 0 -5px #918f97, 383px 0 0 -5px #918f97, 384px 0 0 -5px #918f97, 385px 0 0 -5px #918f97, 386px 0 0 -5px #918f97, 387px 0 0 -5px #918f97, 388px 0 0 -5px #918f97, 389px 0 0 -5px #918f97, 390px 0 0 -5px #918f97, 391px 0 0 -5px #918f97, 392px 0 0 -5px #918f97, 393px 0 0 -5px #918f97, 394px 0 0 -5px #918f97, 395px 0 0 -5px #918f97, 396px 0 0 -5px #918f97, 397px 0 0 -5px #918f97, 398px 0 0 -5px #918f97, 399px 0 0 -5px #918f97, 400px 0 0 -5px #918f97, 401px 0 0 -5px #918f97, 402px 0 0 -5px #918f97, 403px 0 0 -5px #918f97, 404px 0 0 -5px #918f97, 405px 0 0 -5px #918f97, 406px 0 0 -5px #918f97, 407px 0 0 -5px #918f97, 408px 0 0 -5px #918f97, 409px 0 0 -5px #918f97, 410px 0 0 -5px #918f97, 411px 0 0 -5px #918f97, 412px 0 0 -5px #918f97, 413px 0 0 -5px #918f97, 414px 0 0 -5px #918f97, 415px 0 0 -5px #918f97, 416px 0 0 -5px #918f97, 417px 0 0 -5px #918f97, 418px 0 0 -5px #918f97, 419px 0 0 -5px #918f97, 420px 0 0 -5px #918f97, 421px 0 0 -5px #918f97, 422px 0 0 -5px #918f97, 423px 0 0 -5px #918f97, 424px 0 0 -5px #918f97, 425px 0 0 -5px #918f97, 426px 0 0 -5px #918f97, 427px 0 0 -5px #918f97, 428px 0 0 -5px #918f97, 429px 0 0 -5px #918f97, 430px 0 0 -5px #918f97, 431px 0 0 -5px #918f97, 432px 0 0 -5px #918f97, 433px 0 0 -5px #918f97, 434px 0 0 -5px #918f97, 435px 0 0 -5px #918f97, 436px 0 0 -5px #918f97, 437px 0 0 -5px #918f97, 438px 0 0 -5px #918f97, 439px 0 0 -5px #918f97, 440px 0 0 -5px #918f97, 441px 0 0 -5px #918f97, 442px 0 0 -5px #918f97, 443px 0 0 -5px #918f97, 444px 0 0 -5px #918f97, 445px 0 0 -5px #918f97, 446px 0 0 -5px #918f97, 447px 0 0 -5px #918f97, 448px 0 0 -5px #918f97, 449px 0 0 -5px #918f97, 450px 0 0 -5px #918f97, 451px 0 0 -5px #918f97, 452px 0 0 -5px #918f97, 453px 0 0 -5px #918f97, 454px 0 0 -5px #918f97, 455px 0 0 -5px #918f97, 456px 0 0 -5px #918f97, 457px 0 0 -5px #918f97, 458px 0 0 -5px #918f97, 459px 0 0 -5px #918f97, 460px 0 0 -5px #918f97, 461px 0 0 -5px #918f97, 462px 0 0 -5px #918f97, 463px 0 0 -5px #918f97, 464px 0 0 -5px #918f97, 465px 0 0 -5px #918f97, 466px 0 0 -5px #918f97, 467px 0 0 -5px #918f97, 468px 0 0 -5px #918f97, 469px 0 0 -5px #918f97, 470px 0 0 -5px #918f97, 471px 0 0 -5px #918f97, 472px 0 0 -5px #918f97, 473px 0 0 -5px #918f97, 474px 0 0 -5px #918f97, 475px 0 0 -5px #918f97, 476px 0 0 -5px #918f97, 477px 0 0 -5px #918f97, 478px 0 0 -5px #918f97, 479px 0 0 -5px #918f97, 480px 0 0 -5px #918f97, 481px 0 0 -5px #918f97, 482px 0 0 -5px #918f97, 483px 0 0 -5px #918f97, 484px 0 0 -5px #918f97, 485px 0 0 -5px #918f97, 486px 0 0 -5px #918f97, 487px 0 0 -5px #918f97, 488px 0 0 -5px #918f97, 489px 0 0 -5px #918f97, 490px 0 0 -5px #918f97, 491px 0 0 -5px #918f97, 492px 0 0 -5px #918f97, 493px 0 0 -5px #918f97, 494px 0 0 -5px #918f97, 495px 0 0 -5px #918f97, 496px 0 0 -5px #918f97, 497px 0 0 -5px #918f97, 498px 0 0 -5px #918f97, 499px 0 0 -5px #918f97, 500px 0 0 -5px #918f97, 501px 0 0 -5px #918f97, 502px 0 0 -5px #918f97, 503px 0 0 -5px #918f97, 504px 0 0 -5px #918f97, 505px 0 0 -5px #918f97, 506px 0 0 -5px #918f97, 507px 0 0 -5px #918f97, 508px 0 0 -5px #918f97, 509px 0 0 -5px #918f97, 510px 0 0 -5px #918f97, 511px 0 0 -5px #918f97, 512px 0 0 -5px #918f97, 513px 0 0 -5px #918f97, 514px 0 0 -5px #918f97, 515px 0 0 -5px #918f97, 516px 0 0 -5px #918f97, 517px 0 0 -5px #918f97, 518px 0 0 -5px #918f97, 519px 0 0 -5px #918f97, 520px 0 0 -5px #918f97, 521px 0 0 -5px #918f97, 522px 0 0 -5px #918f97, 523px 0 0 -5px #918f97, 524px 0 0 -5px #918f97, 525px 0 0 -5px #918f97, 526px 0 0 -5px #918f97, 527px 0 0 -5px #918f97, 528px 0 0 -5px #918f97, 529px 0 0 -5px #918f97, 530px 0 0 -5px #918f97, 531px 0 0 -5px #918f97, 532px 0 0 -5px #918f97, 533px 0 0 -5px #918f97, 534px 0 0 -5px #918f97, 535px 0 0 -5px #918f97, 536px 0 0 -5px #918f97, 537px 0 0 -5px #918f97, 538px 0 0 -5px #918f97, 539px 0 0 -5px #918f97, 540px 0 0 -5px #918f97, 541px 0 0 -5px #918f97, 542px 0 0 -5px #918f97, 543px 0 0 -5px #918f97, 544px 0 0 -5px #918f97, 545px 0 0 -5px #918f97, 546px 0 0 -5px #918f97, 547px 0 0 -5px #918f97, 548px 0 0 -5px #918f97, 549px 0 0 -5px #918f97, 550px 0 0 -5px #918f97, 551px 0 0 -5px #918f97, 552px 0 0 -5px #918f97, 553px 0 0 -5px #918f97, 554px 0 0 -5px #918f97, 555px 0 0 -5px #918f97, 556px 0 0 -5px #918f97, 557px 0 0 -5px #918f97, 558px 0 0 -5px #918f97, 559px 0 0 -5px #918f97, 560px 0 0 -5px #918f97, 561px 0 0 -5px #918f97, 562px 0 0 -5px #918f97, 563px 0 0 -5px #918f97, 564px 0 0 -5px #918f97, 565px 0 0 -5px #918f97, 566px 0 0 -5px #918f97, 567px 0 0 -5px #918f97, 568px 0 0 -5px #918f97, 569px 0 0 -5px #918f97, 570px 0 0 -5px #918f97, 571px 0 0 -5px #918f97, 572px 0 0 -5px #918f97, 573px 0 0 -5px #918f97, 574px 0 0 -5px #918f97, 575px 0 0 -5px #918f97, 576px 0 0 -5px #918f97, 577px 0 0 -5px #918f97, 578px 0 0 -5px #918f97, 579px 0 0 -5px #918f97, 580px 0 0 -5px #918f97, 581px 0 0 -5px #918f97, 582px 0 0 -5px #918f97, 583px 0 0 -5px #918f97, 584px 0 0 -5px #918f97, 585px 0 0 -5px #918f97, 586px 0 0 -5px #918f97, 587px 0 0 -5px #918f97, 588px 0 0 -5px #918f97, 589px 0 0 -5px #918f97, 590px 0 0 -5px #918f97, 591px 0 0 -5px #918f97, 592px 0 0 -5px #918f97, 593px 0 0 -5px #918f97, 594px 0 0 -5px #918f97, 595px 0 0 -5px #918f97, 596px 0 0 -5px #918f97, 597px 0 0 -5px #918f97, 598px 0 0 -5px #918f97, 599px 0 0 -5px #918f97, 600px 0 0 -5px #918f97, 601px 0 0 -5px #918f97, 602px 0 0 -5px #918f97, 603px 0 0 -5px #918f97, 604px 0 0 -5px #918f97, 605px 0 0 -5px #918f97, 606px 0 0 -5px #918f97, 607px 0 0 -5px #918f97, 608px 0 0 -5px #918f97, 609px 0 0 -5px #918f97, 610px 0 0 -5px #918f97, 611px 0 0 -5px #918f97, 612px 0 0 -5px #918f97, 613px 0 0 -5px #918f97, 614px 0 0 -5px #918f97, 615px 0 0 -5px #918f97, 616px 0 0 -5px #918f97, 617px 0 0 -5px #918f97, 618px 0 0 -5px #918f97, 619px 0 0 -5px #918f97, 620px 0 0 -5px #918f97, 621px 0 0 -5px #918f97, 622px 0 0 -5px #918f97, 623px 0 0 -5px #918f97, 624px 0 0 -5px #918f97, 625px 0 0 -5px #918f97, 626px 0 0 -5px #918f97, 627px 0 0 -5px #918f97, 628px 0 0 -5px #918f97, 629px 0 0 -5px #918f97, 630px 0 0 -5px #918f97, 631px 0 0 -5px #918f97, 632px 0 0 -5px #918f97, 633px 0 0 -5px #918f97, 634px 0 0 -5px #918f97, 635px 0 0 -5px #918f97, 636px 0 0 -5px #918f97, 637px 0 0 -5px #918f97, 638px 0 0 -5px #918f97, 639px 0 0 -5px #918f97, 640px 0 0 -5px #918f97, 641px 0 0 -5px #918f97, 642px 0 0 -5px #918f97, 643px 0 0 -5px #918f97, 644px 0 0 -5px #918f97, 645px 0 0 -5px #918f97, 646px 0 0 -5px #918f97, 647px 0 0 -5px #918f97, 648px 0 0 -5px #918f97, 649px 0 0 -5px #918f97, 650px 0 0 -5px #918f97, 651px 0 0 -5px #918f97, 652px 0 0 -5px #918f97, 653px 0 0 -5px #918f97, 654px 0 0 -5px #918f97, 655px 0 0 -5px #918f97, 656px 0 0 -5px #918f97, 657px 0 0 -5px #918f97, 658px 0 0 -5px #918f97, 659px 0 0 -5px #918f97, 660px 0 0 -5px #918f97, 661px 0 0 -5px #918f97, 662px 0 0 -5px #918f97, 663px 0 0 -5px #918f97, 664px 0 0 -5px #918f97, 665px 0 0 -5px #918f97, 666px 0 0 -5px #918f97, 667px 0 0 -5px #918f97, 668px 0 0 -5px #918f97, 669px 0 0 -5px #918f97, 670px 0 0 -5px #918f97, 671px 0 0 -5px #918f97, 672px 0 0 -5px #918f97, 673px 0 0 -5px #918f97, 674px 0 0 -5px #918f97, 675px 0 0 -5px #918f97, 676px 0 0 -5px #918f97, 677px 0 0 -5px #918f97, 678px 0 0 -5px #918f97, 679px 0 0 -5px #918f97, 680px 0 0 -5px #918f97, 681px 0 0 -5px #918f97, 682px 0 0 -5px #918f97, 683px 0 0 -5px #918f97, 684px 0 0 -5px #918f97, 685px 0 0 -5px #918f97, 686px 0 0 -5px #918f97, 687px 0 0 -5px #918f97, 688px 0 0 -5px #918f97, 689px 0 0 -5px #918f97, 690px 0 0 -5px #918f97, 691px 0 0 -5px #918f97, 692px 0 0 -5px #918f97, 693px 0 0 -5px #918f97, 694px 0 0 -5px #918f97, 695px 0 0 -5px #918f97, 696px 0 0 -5px #918f97, 697px 0 0 -5px #918f97, 698px 0 0 -5px #918f97, 699px 0 0 -5px #918f97, 700px 0 0 -5px #918f97, 701px 0 0 -5px #918f97, 702px 0 0 -5px #918f97, 703px 0 0 -5px #918f97, 704px 0 0 -5px #918f97, 705px 0 0 -5px #918f97, 706px 0 0 -5px #918f97, 707px 0 0 -5px #918f97, 708px 0 0 -5px #918f97, 709px 0 0 -5px #918f97, 710px 0 0 -5px #918f97, 711px 0 0 -5px #918f97, 712px 0 0 -5px #918f97, 713px 0 0 -5px #918f97, 714px 0 0 -5px #918f97, 715px 0 0 -5px #918f97, 716px 0 0 -5px #918f97, 717px 0 0 -5px #918f97, 718px 0 0 -5px #918f97, 719px 0 0 -5px #918f97, 720px 0 0 -5px #918f97, 721px 0 0 -5px #918f97, 722px 0 0 -5px #918f97, 723px 0 0 -5px #918f97, 724px 0 0 -5px #918f97, 725px 0 0 -5px #918f97, 726px 0 0 -5px #918f97, 727px 0 0 -5px #918f97, 728px 0 0 -5px #918f97, 729px 0 0 -5px #918f97, 730px 0 0 -5px #918f97, 731px 0 0 -5px #918f97, 732px 0 0 -5px #918f97, 733px 0 0 -5px #918f97, 734px 0 0 -5px #918f97, 735px 0 0 -5px #918f97, 736px 0 0 -5px #918f97, 737px 0 0 -5px #918f97, 738px 0 0 -5px #918f97, 739px 0 0 -5px #918f97, 740px 0 0 -5px #918f97, 741px 0 0 -5px #918f97, 742px 0 0 -5px #918f97, 743px 0 0 -5px #918f97, 744px 0 0 -5px #918f97, 745px 0 0 -5px #918f97, 746px 0 0 -5px #918f97, 747px 0 0 -5px #918f97, 748px 0 0 -5px #918f97, 749px 0 0 -5px #918f97, 750px 0 0 -5px #918f97, 751px 0 0 -5px #918f97, 752px 0 0 -5px #918f97, 753px 0 0 -5px #918f97, 754px 0 0 -5px #918f97, 755px 0 0 -5px #918f97, 756px 0 0 -5px #918f97, 757px 0 0 -5px #918f97, 758px 0 0 -5px #918f97, 759px 0 0 -5px #918f97, 760px 0 0 -5px #918f97, 761px 0 0 -5px #918f97, 762px 0 0 -5px #918f97, 763px 0 0 -5px #918f97, 764px 0 0 -5px #918f97, 765px 0 0 -5px #918f97, 766px 0 0 -5px #918f97, 767px 0 0 -5px #918f97, 768px 0 0 -5px #918f97, 769px 0 0 -5px #918f97, 770px 0 0 -5px #918f97, 771px 0 0 -5px #918f97, 772px 0 0 -5px #918f97, 773px 0 0 -5px #918f97, 774px 0 0 -5px #918f97, 775px 0 0 -5px #918f97, 776px 0 0 -5px #918f97, 777px 0 0 -5px #918f97, 778px 0 0 -5px #918f97, 779px 0 0 -5px #918f97, 780px 0 0 -5px #918f97, 781px 0 0 -5px #918f97, 782px 0 0 -5px #918f97, 783px 0 0 -5px #918f97, 784px 0 0 -5px #918f97, 785px 0 0 -5px #918f97, 786px 0 0 -5px #918f97, 787px 0 0 -5px #918f97, 788px 0 0 -5px #918f97, 789px 0 0 -5px #918f97, 790px 0 0 -5px #918f97, 791px 0 0 -5px #918f97, 792px 0 0 -5px #918f97, 793px 0 0 -5px #918f97, 794px 0 0 -5px #918f97, 795px 0 0 -5px #918f97, 796px 0 0 -5px #918f97, 797px 0 0 -5px #918f97, 798px 0 0 -5px #918f97, 799px 0 0 -5px #918f97, 800px 0 0 -5px #918f97, 801px 0 0 -5px #918f97, 802px 0 0 -5px #918f97, 803px 0 0 -5px #918f97, 804px 0 0 -5px #918f97, 805px 0 0 -5px #918f97, 806px 0 0 -5px #918f97, 807px 0 0 -5px #918f97, 808px 0 0 -5px #918f97, 809px 0 0 -5px #918f97, 810px 0 0 -5px #918f97, 811px 0 0 -5px #918f97, 812px 0 0 -5px #918f97, 813px 0 0 -5px #918f97, 814px 0 0 -5px #918f97, 815px 0 0 -5px #918f97, 816px 0 0 -5px #918f97, 817px 0 0 -5px #918f97, 818px 0 0 -5px #918f97, 819px 0 0 -5px #918f97, 820px 0 0 -5px #918f97, 821px 0 0 -5px #918f97, 822px 0 0 -5px #918f97, 823px 0 0 -5px #918f97, 824px 0 0 -5px #918f97, 825px 0 0 -5px #918f97, 826px 0 0 -5px #918f97, 827px 0 0 -5px #918f97, 828px 0 0 -5px #918f97, 829px 0 0 -5px #918f97, 830px 0 0 -5px #918f97, 831px 0 0 -5px #918f97, 832px 0 0 -5px #918f97, 833px 0 0 -5px #918f97, 834px 0 0 -5px #918f97, 835px 0 0 -5px #918f97, 836px 0 0 -5px #918f97, 837px 0 0 -5px #918f97, 838px 0 0 -5px #918f97, 839px 0 0 -5px #918f97, 840px 0 0 -5px #918f97, 841px 0 0 -5px #918f97, 842px 0 0 -5px #918f97, 843px 0 0 -5px #918f97, 844px 0 0 -5px #918f97, 845px 0 0 -5px #918f97, 846px 0 0 -5px #918f97, 847px 0 0 -5px #918f97, 848px 0 0 -5px #918f97, 849px 0 0 -5px #918f97, 850px 0 0 -5px #918f97, 851px 0 0 -5px #918f97, 852px 0 0 -5px #918f97, 853px 0 0 -5px #918f97, 854px 0 0 -5px #918f97, 855px 0 0 -5px #918f97, 856px 0 0 -5px #918f97, 857px 0 0 -5px #918f97, 858px 0 0 -5px #918f97, 859px 0 0 -5px #918f97, 860px 0 0 -5px #918f97, 861px 0 0 -5px #918f97, 862px 0 0 -5px #918f97, 863px 0 0 -5px #918f97, 864px 0 0 -5px #918f97, 865px 0 0 -5px #918f97, 866px 0 0 -5px #918f97, 867px 0 0 -5px #918f97, 868px 0 0 -5px #918f97, 869px 0 0 -5px #918f97, 870px 0 0 -5px #918f97, 871px 0 0 -5px #918f97, 872px 0 0 -5px #918f97, 873px 0 0 -5px #918f97, 874px 0 0 -5px #918f97, 875px 0 0 -5px #918f97, 876px 0 0 -5px #918f97, 877px 0 0 -5px #918f97, 878px 0 0 -5px #918f97, 879px 0 0 -5px #918f97, 880px 0 0 -5px #918f97, 881px 0 0 -5px #918f97, 882px 0 0 -5px #918f97, 883px 0 0 -5px #918f97, 884px 0 0 -5px #918f97, 885px 0 0 -5px #918f97, 886px 0 0 -5px #918f97, 887px 0 0 -5px #918f97, 888px 0 0 -5px #918f97, 889px 0 0 -5px #918f97, 890px 0 0 -5px #918f97, 891px 0 0 -5px #918f97, 892px 0 0 -5px #918f97, 893px 0 0 -5px #918f97, 894px 0 0 -5px #918f97, 895px 0 0 -5px #918f97, 896px 0 0 -5px #918f97, 897px 0 0 -5px #918f97, 898px 0 0 -5px #918f97, 899px 0 0 -5px #918f97, 900px 0 0 -5px #918f97, 901px 0 0 -5px #918f97, 902px 0 0 -5px #918f97, 903px 0 0 -5px #918f97, 904px 0 0 -5px #918f97, 905px 0 0 -5px #918f97, 906px 0 0 -5px #918f97, 907px 0 0 -5px #918f97, 908px 0 0 -5px #918f97, 909px 0 0 -5px #918f97, 910px 0 0 -5px #918f97, 911px 0 0 -5px #918f97, 912px 0 0 -5px #918f97, 913px 0 0 -5px #918f97, 914px 0 0 -5px #918f97, 915px 0 0 -5px #918f97, 916px 0 0 -5px #918f97, 917px 0 0 -5px #918f97, 918px 0 0 -5px #918f97, 919px 0 0 -5px #918f97, 920px 0 0 -5px #918f97, 921px 0 0 -5px #918f97, 922px 0 0 -5px #918f97, 923px 0 0 -5px #918f97, 924px 0 0 -5px #918f97, 925px 0 0 -5px #918f97, 926px 0 0 -5px #918f97, 927px 0 0 -5px #918f97, 928px 0 0 -5px #918f97, 929px 0 0 -5px #918f97, 930px 0 0 -5px #918f97, 931px 0 0 -5px #918f97, 932px 0 0 -5px #918f97, 933px 0 0 -5px #918f97, 934px 0 0 -5px #918f97, 935px 0 0 -5px #918f97, 936px 0 0 -5px #918f97, 937px 0 0 -5px #918f97, 938px 0 0 -5px #918f97, 939px 0 0 -5px #918f97, 940px 0 0 -5px #918f97, 941px 0 0 -5px #918f97, 942px 0 0 -5px #918f97, 943px 0 0 -5px #918f97, 944px 0 0 -5px #918f97, 945px 0 0 -5px #918f97, 946px 0 0 -5px #918f97, 947px 0 0 -5px #918f97, 948px 0 0 -5px #918f97, 949px 0 0 -5px #918f97, 950px 0 0 -5px #918f97, 951px 0 0 -5px #918f97, 952px 0 0 -5px #918f97, 953px 0 0 -5px #918f97, 954px 0 0 -5px #918f97, 955px 0 0 -5px #918f97, 956px 0 0 -5px #918f97, 957px 0 0 -5px #918f97, 958px 0 0 -5px #918f97, 959px 0 0 -5px #918f97, 960px 0 0 -5px #918f97, 961px 0 0 -5px #918f97, 962px 0 0 -5px #918f97, 963px 0 0 -5px #918f97, 964px 0 0 -5px #918f97, 965px 0 0 -5px #918f97, 966px 0 0 -5px #918f97, 967px 0 0 -5px #918f97, 968px 0 0 -5px #918f97, 969px 0 0 -5px #918f97, 970px 0 0 -5px #918f97, 971px 0 0 -5px #918f97, 972px 0 0 -5px #918f97, 973px 0 0 -5px #918f97, 974px 0 0 -5px #918f97, 975px 0 0 -5px #918f97, 976px 0 0 -5px #918f97, 977px 0 0 -5px #918f97, 978px 0 0 -5px #918f97, 979px 0 0 -5px #918f97, 980px 0 0 -5px #918f97, 981px 0 0 -5px #918f97, 982px 0 0 -5px #918f97, 983px 0 0 -5px #918f97, 984px 0 0 -5px #918f97, 985px 0 0 -5px #918f97, 986px 0 0 -5px #918f97, 987px 0 0 -5px #918f97, 988px 0 0 -5px #918f97, 989px 0 0 -5px #918f97, 990px 0 0 -5px #918f97, 991px 0 0 -5px #918f97, 992px 0 0 -5px #918f97, 993px 0 0 -5px #918f97, 994px 0 0 -5px #918f97, 995px 0 0 -5px #918f97, 996px 0 0 -5px #918f97, 997px 0 0 -5px #918f97, 998px 0 0 -5px #918f97, 999px 0 0 -5px #918f97, 1000px 0 0 -5px #918f97;
          box-shadow: 1px 0 0 -5px #918f97, 2px 0 0 -5px #918f97, 3px 0 0 -5px #918f97, 4px 0 0 -5px #918f97, 5px 0 0 -5px #918f97, 6px 0 0 -5px #918f97, 7px 0 0 -5px #918f97, 8px 0 0 -5px #918f97, 9px 0 0 -5px #918f97, 10px 0 0 -5px #918f97, 11px 0 0 -5px #918f97, 12px 0 0 -5px #918f97, 13px 0 0 -5px #918f97, 14px 0 0 -5px #918f97, 15px 0 0 -5px #918f97, 16px 0 0 -5px #918f97, 17px 0 0 -5px #918f97, 18px 0 0 -5px #918f97, 19px 0 0 -5px #918f97, 20px 0 0 -5px #918f97, 21px 0 0 -5px #918f97, 22px 0 0 -5px #918f97, 23px 0 0 -5px #918f97, 24px 0 0 -5px #918f97, 25px 0 0 -5px #918f97, 26px 0 0 -5px #918f97, 27px 0 0 -5px #918f97, 28px 0 0 -5px #918f97, 29px 0 0 -5px #918f97, 30px 0 0 -5px #918f97, 31px 0 0 -5px #918f97, 32px 0 0 -5px #918f97, 33px 0 0 -5px #918f97, 34px 0 0 -5px #918f97, 35px 0 0 -5px #918f97, 36px 0 0 -5px #918f97, 37px 0 0 -5px #918f97, 38px 0 0 -5px #918f97, 39px 0 0 -5px #918f97, 40px 0 0 -5px #918f97, 41px 0 0 -5px #918f97, 42px 0 0 -5px #918f97, 43px 0 0 -5px #918f97, 44px 0 0 -5px #918f97, 45px 0 0 -5px #918f97, 46px 0 0 -5px #918f97, 47px 0 0 -5px #918f97, 48px 0 0 -5px #918f97, 49px 0 0 -5px #918f97, 50px 0 0 -5px #918f97, 51px 0 0 -5px #918f97, 52px 0 0 -5px #918f97, 53px 0 0 -5px #918f97, 54px 0 0 -5px #918f97, 55px 0 0 -5px #918f97, 56px 0 0 -5px #918f97, 57px 0 0 -5px #918f97, 58px 0 0 -5px #918f97, 59px 0 0 -5px #918f97, 60px 0 0 -5px #918f97, 61px 0 0 -5px #918f97, 62px 0 0 -5px #918f97, 63px 0 0 -5px #918f97, 64px 0 0 -5px #918f97, 65px 0 0 -5px #918f97, 66px 0 0 -5px #918f97, 67px 0 0 -5px #918f97, 68px 0 0 -5px #918f97, 69px 0 0 -5px #918f97, 70px 0 0 -5px #918f97, 71px 0 0 -5px #918f97, 72px 0 0 -5px #918f97, 73px 0 0 -5px #918f97, 74px 0 0 -5px #918f97, 75px 0 0 -5px #918f97, 76px 0 0 -5px #918f97, 77px 0 0 -5px #918f97, 78px 0 0 -5px #918f97, 79px 0 0 -5px #918f97, 80px 0 0 -5px #918f97, 81px 0 0 -5px #918f97, 82px 0 0 -5px #918f97, 83px 0 0 -5px #918f97, 84px 0 0 -5px #918f97, 85px 0 0 -5px #918f97, 86px 0 0 -5px #918f97, 87px 0 0 -5px #918f97, 88px 0 0 -5px #918f97, 89px 0 0 -5px #918f97, 90px 0 0 -5px #918f97, 91px 0 0 -5px #918f97, 92px 0 0 -5px #918f97, 93px 0 0 -5px #918f97, 94px 0 0 -5px #918f97, 95px 0 0 -5px #918f97, 96px 0 0 -5px #918f97, 97px 0 0 -5px #918f97, 98px 0 0 -5px #918f97, 99px 0 0 -5px #918f97, 100px 0 0 -5px #918f97, 101px 0 0 -5px #918f97, 102px 0 0 -5px #918f97, 103px 0 0 -5px #918f97, 104px 0 0 -5px #918f97, 105px 0 0 -5px #918f97, 106px 0 0 -5px #918f97, 107px 0 0 -5px #918f97, 108px 0 0 -5px #918f97, 109px 0 0 -5px #918f97, 110px 0 0 -5px #918f97, 111px 0 0 -5px #918f97, 112px 0 0 -5px #918f97, 113px 0 0 -5px #918f97, 114px 0 0 -5px #918f97, 115px 0 0 -5px #918f97, 116px 0 0 -5px #918f97, 117px 0 0 -5px #918f97, 118px 0 0 -5px #918f97, 119px 0 0 -5px #918f97, 120px 0 0 -5px #918f97, 121px 0 0 -5px #918f97, 122px 0 0 -5px #918f97, 123px 0 0 -5px #918f97, 124px 0 0 -5px #918f97, 125px 0 0 -5px #918f97, 126px 0 0 -5px #918f97, 127px 0 0 -5px #918f97, 128px 0 0 -5px #918f97, 129px 0 0 -5px #918f97, 130px 0 0 -5px #918f97, 131px 0 0 -5px #918f97, 132px 0 0 -5px #918f97, 133px 0 0 -5px #918f97, 134px 0 0 -5px #918f97, 135px 0 0 -5px #918f97, 136px 0 0 -5px #918f97, 137px 0 0 -5px #918f97, 138px 0 0 -5px #918f97, 139px 0 0 -5px #918f97, 140px 0 0 -5px #918f97, 141px 0 0 -5px #918f97, 142px 0 0 -5px #918f97, 143px 0 0 -5px #918f97, 144px 0 0 -5px #918f97, 145px 0 0 -5px #918f97, 146px 0 0 -5px #918f97, 147px 0 0 -5px #918f97, 148px 0 0 -5px #918f97, 149px 0 0 -5px #918f97, 150px 0 0 -5px #918f97, 151px 0 0 -5px #918f97, 152px 0 0 -5px #918f97, 153px 0 0 -5px #918f97, 154px 0 0 -5px #918f97, 155px 0 0 -5px #918f97, 156px 0 0 -5px #918f97, 157px 0 0 -5px #918f97, 158px 0 0 -5px #918f97, 159px 0 0 -5px #918f97, 160px 0 0 -5px #918f97, 161px 0 0 -5px #918f97, 162px 0 0 -5px #918f97, 163px 0 0 -5px #918f97, 164px 0 0 -5px #918f97, 165px 0 0 -5px #918f97, 166px 0 0 -5px #918f97, 167px 0 0 -5px #918f97, 168px 0 0 -5px #918f97, 169px 0 0 -5px #918f97, 170px 0 0 -5px #918f97, 171px 0 0 -5px #918f97, 172px 0 0 -5px #918f97, 173px 0 0 -5px #918f97, 174px 0 0 -5px #918f97, 175px 0 0 -5px #918f97, 176px 0 0 -5px #918f97, 177px 0 0 -5px #918f97, 178px 0 0 -5px #918f97, 179px 0 0 -5px #918f97, 180px 0 0 -5px #918f97, 181px 0 0 -5px #918f97, 182px 0 0 -5px #918f97, 183px 0 0 -5px #918f97, 184px 0 0 -5px #918f97, 185px 0 0 -5px #918f97, 186px 0 0 -5px #918f97, 187px 0 0 -5px #918f97, 188px 0 0 -5px #918f97, 189px 0 0 -5px #918f97, 190px 0 0 -5px #918f97, 191px 0 0 -5px #918f97, 192px 0 0 -5px #918f97, 193px 0 0 -5px #918f97, 194px 0 0 -5px #918f97, 195px 0 0 -5px #918f97, 196px 0 0 -5px #918f97, 197px 0 0 -5px #918f97, 198px 0 0 -5px #918f97, 199px 0 0 -5px #918f97, 200px 0 0 -5px #918f97, 201px 0 0 -5px #918f97, 202px 0 0 -5px #918f97, 203px 0 0 -5px #918f97, 204px 0 0 -5px #918f97, 205px 0 0 -5px #918f97, 206px 0 0 -5px #918f97, 207px 0 0 -5px #918f97, 208px 0 0 -5px #918f97, 209px 0 0 -5px #918f97, 210px 0 0 -5px #918f97, 211px 0 0 -5px #918f97, 212px 0 0 -5px #918f97, 213px 0 0 -5px #918f97, 214px 0 0 -5px #918f97, 215px 0 0 -5px #918f97, 216px 0 0 -5px #918f97, 217px 0 0 -5px #918f97, 218px 0 0 -5px #918f97, 219px 0 0 -5px #918f97, 220px 0 0 -5px #918f97, 221px 0 0 -5px #918f97, 222px 0 0 -5px #918f97, 223px 0 0 -5px #918f97, 224px 0 0 -5px #918f97, 225px 0 0 -5px #918f97, 226px 0 0 -5px #918f97, 227px 0 0 -5px #918f97, 228px 0 0 -5px #918f97, 229px 0 0 -5px #918f97, 230px 0 0 -5px #918f97, 231px 0 0 -5px #918f97, 232px 0 0 -5px #918f97, 233px 0 0 -5px #918f97, 234px 0 0 -5px #918f97, 235px 0 0 -5px #918f97, 236px 0 0 -5px #918f97, 237px 0 0 -5px #918f97, 238px 0 0 -5px #918f97, 239px 0 0 -5px #918f97, 240px 0 0 -5px #918f97, 241px 0 0 -5px #918f97, 242px 0 0 -5px #918f97, 243px 0 0 -5px #918f97, 244px 0 0 -5px #918f97, 245px 0 0 -5px #918f97, 246px 0 0 -5px #918f97, 247px 0 0 -5px #918f97, 248px 0 0 -5px #918f97, 249px 0 0 -5px #918f97, 250px 0 0 -5px #918f97, 251px 0 0 -5px #918f97, 252px 0 0 -5px #918f97, 253px 0 0 -5px #918f97, 254px 0 0 -5px #918f97, 255px 0 0 -5px #918f97, 256px 0 0 -5px #918f97, 257px 0 0 -5px #918f97, 258px 0 0 -5px #918f97, 259px 0 0 -5px #918f97, 260px 0 0 -5px #918f97, 261px 0 0 -5px #918f97, 262px 0 0 -5px #918f97, 263px 0 0 -5px #918f97, 264px 0 0 -5px #918f97, 265px 0 0 -5px #918f97, 266px 0 0 -5px #918f97, 267px 0 0 -5px #918f97, 268px 0 0 -5px #918f97, 269px 0 0 -5px #918f97, 270px 0 0 -5px #918f97, 271px 0 0 -5px #918f97, 272px 0 0 -5px #918f97, 273px 0 0 -5px #918f97, 274px 0 0 -5px #918f97, 275px 0 0 -5px #918f97, 276px 0 0 -5px #918f97, 277px 0 0 -5px #918f97, 278px 0 0 -5px #918f97, 279px 0 0 -5px #918f97, 280px 0 0 -5px #918f97, 281px 0 0 -5px #918f97, 282px 0 0 -5px #918f97, 283px 0 0 -5px #918f97, 284px 0 0 -5px #918f97, 285px 0 0 -5px #918f97, 286px 0 0 -5px #918f97, 287px 0 0 -5px #918f97, 288px 0 0 -5px #918f97, 289px 0 0 -5px #918f97, 290px 0 0 -5px #918f97, 291px 0 0 -5px #918f97, 292px 0 0 -5px #918f97, 293px 0 0 -5px #918f97, 294px 0 0 -5px #918f97, 295px 0 0 -5px #918f97, 296px 0 0 -5px #918f97, 297px 0 0 -5px #918f97, 298px 0 0 -5px #918f97, 299px 0 0 -5px #918f97, 300px 0 0 -5px #918f97, 301px 0 0 -5px #918f97, 302px 0 0 -5px #918f97, 303px 0 0 -5px #918f97, 304px 0 0 -5px #918f97, 305px 0 0 -5px #918f97, 306px 0 0 -5px #918f97, 307px 0 0 -5px #918f97, 308px 0 0 -5px #918f97, 309px 0 0 -5px #918f97, 310px 0 0 -5px #918f97, 311px 0 0 -5px #918f97, 312px 0 0 -5px #918f97, 313px 0 0 -5px #918f97, 314px 0 0 -5px #918f97, 315px 0 0 -5px #918f97, 316px 0 0 -5px #918f97, 317px 0 0 -5px #918f97, 318px 0 0 -5px #918f97, 319px 0 0 -5px #918f97, 320px 0 0 -5px #918f97, 321px 0 0 -5px #918f97, 322px 0 0 -5px #918f97, 323px 0 0 -5px #918f97, 324px 0 0 -5px #918f97, 325px 0 0 -5px #918f97, 326px 0 0 -5px #918f97, 327px 0 0 -5px #918f97, 328px 0 0 -5px #918f97, 329px 0 0 -5px #918f97, 330px 0 0 -5px #918f97, 331px 0 0 -5px #918f97, 332px 0 0 -5px #918f97, 333px 0 0 -5px #918f97, 334px 0 0 -5px #918f97, 335px 0 0 -5px #918f97, 336px 0 0 -5px #918f97, 337px 0 0 -5px #918f97, 338px 0 0 -5px #918f97, 339px 0 0 -5px #918f97, 340px 0 0 -5px #918f97, 341px 0 0 -5px #918f97, 342px 0 0 -5px #918f97, 343px 0 0 -5px #918f97, 344px 0 0 -5px #918f97, 345px 0 0 -5px #918f97, 346px 0 0 -5px #918f97, 347px 0 0 -5px #918f97, 348px 0 0 -5px #918f97, 349px 0 0 -5px #918f97, 350px 0 0 -5px #918f97, 351px 0 0 -5px #918f97, 352px 0 0 -5px #918f97, 353px 0 0 -5px #918f97, 354px 0 0 -5px #918f97, 355px 0 0 -5px #918f97, 356px 0 0 -5px #918f97, 357px 0 0 -5px #918f97, 358px 0 0 -5px #918f97, 359px 0 0 -5px #918f97, 360px 0 0 -5px #918f97, 361px 0 0 -5px #918f97, 362px 0 0 -5px #918f97, 363px 0 0 -5px #918f97, 364px 0 0 -5px #918f97, 365px 0 0 -5px #918f97, 366px 0 0 -5px #918f97, 367px 0 0 -5px #918f97, 368px 0 0 -5px #918f97, 369px 0 0 -5px #918f97, 370px 0 0 -5px #918f97, 371px 0 0 -5px #918f97, 372px 0 0 -5px #918f97, 373px 0 0 -5px #918f97, 374px 0 0 -5px #918f97, 375px 0 0 -5px #918f97, 376px 0 0 -5px #918f97, 377px 0 0 -5px #918f97, 378px 0 0 -5px #918f97, 379px 0 0 -5px #918f97, 380px 0 0 -5px #918f97, 381px 0 0 -5px #918f97, 382px 0 0 -5px #918f97, 383px 0 0 -5px #918f97, 384px 0 0 -5px #918f97, 385px 0 0 -5px #918f97, 386px 0 0 -5px #918f97, 387px 0 0 -5px #918f97, 388px 0 0 -5px #918f97, 389px 0 0 -5px #918f97, 390px 0 0 -5px #918f97, 391px 0 0 -5px #918f97, 392px 0 0 -5px #918f97, 393px 0 0 -5px #918f97, 394px 0 0 -5px #918f97, 395px 0 0 -5px #918f97, 396px 0 0 -5px #918f97, 397px 0 0 -5px #918f97, 398px 0 0 -5px #918f97, 399px 0 0 -5px #918f97, 400px 0 0 -5px #918f97, 401px 0 0 -5px #918f97, 402px 0 0 -5px #918f97, 403px 0 0 -5px #918f97, 404px 0 0 -5px #918f97, 405px 0 0 -5px #918f97, 406px 0 0 -5px #918f97, 407px 0 0 -5px #918f97, 408px 0 0 -5px #918f97, 409px 0 0 -5px #918f97, 410px 0 0 -5px #918f97, 411px 0 0 -5px #918f97, 412px 0 0 -5px #918f97, 413px 0 0 -5px #918f97, 414px 0 0 -5px #918f97, 415px 0 0 -5px #918f97, 416px 0 0 -5px #918f97, 417px 0 0 -5px #918f97, 418px 0 0 -5px #918f97, 419px 0 0 -5px #918f97, 420px 0 0 -5px #918f97, 421px 0 0 -5px #918f97, 422px 0 0 -5px #918f97, 423px 0 0 -5px #918f97, 424px 0 0 -5px #918f97, 425px 0 0 -5px #918f97, 426px 0 0 -5px #918f97, 427px 0 0 -5px #918f97, 428px 0 0 -5px #918f97, 429px 0 0 -5px #918f97, 430px 0 0 -5px #918f97, 431px 0 0 -5px #918f97, 432px 0 0 -5px #918f97, 433px 0 0 -5px #918f97, 434px 0 0 -5px #918f97, 435px 0 0 -5px #918f97, 436px 0 0 -5px #918f97, 437px 0 0 -5px #918f97, 438px 0 0 -5px #918f97, 439px 0 0 -5px #918f97, 440px 0 0 -5px #918f97, 441px 0 0 -5px #918f97, 442px 0 0 -5px #918f97, 443px 0 0 -5px #918f97, 444px 0 0 -5px #918f97, 445px 0 0 -5px #918f97, 446px 0 0 -5px #918f97, 447px 0 0 -5px #918f97, 448px 0 0 -5px #918f97, 449px 0 0 -5px #918f97, 450px 0 0 -5px #918f97, 451px 0 0 -5px #918f97, 452px 0 0 -5px #918f97, 453px 0 0 -5px #918f97, 454px 0 0 -5px #918f97, 455px 0 0 -5px #918f97, 456px 0 0 -5px #918f97, 457px 0 0 -5px #918f97, 458px 0 0 -5px #918f97, 459px 0 0 -5px #918f97, 460px 0 0 -5px #918f97, 461px 0 0 -5px #918f97, 462px 0 0 -5px #918f97, 463px 0 0 -5px #918f97, 464px 0 0 -5px #918f97, 465px 0 0 -5px #918f97, 466px 0 0 -5px #918f97, 467px 0 0 -5px #918f97, 468px 0 0 -5px #918f97, 469px 0 0 -5px #918f97, 470px 0 0 -5px #918f97, 471px 0 0 -5px #918f97, 472px 0 0 -5px #918f97, 473px 0 0 -5px #918f97, 474px 0 0 -5px #918f97, 475px 0 0 -5px #918f97, 476px 0 0 -5px #918f97, 477px 0 0 -5px #918f97, 478px 0 0 -5px #918f97, 479px 0 0 -5px #918f97, 480px 0 0 -5px #918f97, 481px 0 0 -5px #918f97, 482px 0 0 -5px #918f97, 483px 0 0 -5px #918f97, 484px 0 0 -5px #918f97, 485px 0 0 -5px #918f97, 486px 0 0 -5px #918f97, 487px 0 0 -5px #918f97, 488px 0 0 -5px #918f97, 489px 0 0 -5px #918f97, 490px 0 0 -5px #918f97, 491px 0 0 -5px #918f97, 492px 0 0 -5px #918f97, 493px 0 0 -5px #918f97, 494px 0 0 -5px #918f97, 495px 0 0 -5px #918f97, 496px 0 0 -5px #918f97, 497px 0 0 -5px #918f97, 498px 0 0 -5px #918f97, 499px 0 0 -5px #918f97, 500px 0 0 -5px #918f97, 501px 0 0 -5px #918f97, 502px 0 0 -5px #918f97, 503px 0 0 -5px #918f97, 504px 0 0 -5px #918f97, 505px 0 0 -5px #918f97, 506px 0 0 -5px #918f97, 507px 0 0 -5px #918f97, 508px 0 0 -5px #918f97, 509px 0 0 -5px #918f97, 510px 0 0 -5px #918f97, 511px 0 0 -5px #918f97, 512px 0 0 -5px #918f97, 513px 0 0 -5px #918f97, 514px 0 0 -5px #918f97, 515px 0 0 -5px #918f97, 516px 0 0 -5px #918f97, 517px 0 0 -5px #918f97, 518px 0 0 -5px #918f97, 519px 0 0 -5px #918f97, 520px 0 0 -5px #918f97, 521px 0 0 -5px #918f97, 522px 0 0 -5px #918f97, 523px 0 0 -5px #918f97, 524px 0 0 -5px #918f97, 525px 0 0 -5px #918f97, 526px 0 0 -5px #918f97, 527px 0 0 -5px #918f97, 528px 0 0 -5px #918f97, 529px 0 0 -5px #918f97, 530px 0 0 -5px #918f97, 531px 0 0 -5px #918f97, 532px 0 0 -5px #918f97, 533px 0 0 -5px #918f97, 534px 0 0 -5px #918f97, 535px 0 0 -5px #918f97, 536px 0 0 -5px #918f97, 537px 0 0 -5px #918f97, 538px 0 0 -5px #918f97, 539px 0 0 -5px #918f97, 540px 0 0 -5px #918f97, 541px 0 0 -5px #918f97, 542px 0 0 -5px #918f97, 543px 0 0 -5px #918f97, 544px 0 0 -5px #918f97, 545px 0 0 -5px #918f97, 546px 0 0 -5px #918f97, 547px 0 0 -5px #918f97, 548px 0 0 -5px #918f97, 549px 0 0 -5px #918f97, 550px 0 0 -5px #918f97, 551px 0 0 -5px #918f97, 552px 0 0 -5px #918f97, 553px 0 0 -5px #918f97, 554px 0 0 -5px #918f97, 555px 0 0 -5px #918f97, 556px 0 0 -5px #918f97, 557px 0 0 -5px #918f97, 558px 0 0 -5px #918f97, 559px 0 0 -5px #918f97, 560px 0 0 -5px #918f97, 561px 0 0 -5px #918f97, 562px 0 0 -5px #918f97, 563px 0 0 -5px #918f97, 564px 0 0 -5px #918f97, 565px 0 0 -5px #918f97, 566px 0 0 -5px #918f97, 567px 0 0 -5px #918f97, 568px 0 0 -5px #918f97, 569px 0 0 -5px #918f97, 570px 0 0 -5px #918f97, 571px 0 0 -5px #918f97, 572px 0 0 -5px #918f97, 573px 0 0 -5px #918f97, 574px 0 0 -5px #918f97, 575px 0 0 -5px #918f97, 576px 0 0 -5px #918f97, 577px 0 0 -5px #918f97, 578px 0 0 -5px #918f97, 579px 0 0 -5px #918f97, 580px 0 0 -5px #918f97, 581px 0 0 -5px #918f97, 582px 0 0 -5px #918f97, 583px 0 0 -5px #918f97, 584px 0 0 -5px #918f97, 585px 0 0 -5px #918f97, 586px 0 0 -5px #918f97, 587px 0 0 -5px #918f97, 588px 0 0 -5px #918f97, 589px 0 0 -5px #918f97, 590px 0 0 -5px #918f97, 591px 0 0 -5px #918f97, 592px 0 0 -5px #918f97, 593px 0 0 -5px #918f97, 594px 0 0 -5px #918f97, 595px 0 0 -5px #918f97, 596px 0 0 -5px #918f97, 597px 0 0 -5px #918f97, 598px 0 0 -5px #918f97, 599px 0 0 -5px #918f97, 600px 0 0 -5px #918f97, 601px 0 0 -5px #918f97, 602px 0 0 -5px #918f97, 603px 0 0 -5px #918f97, 604px 0 0 -5px #918f97, 605px 0 0 -5px #918f97, 606px 0 0 -5px #918f97, 607px 0 0 -5px #918f97, 608px 0 0 -5px #918f97, 609px 0 0 -5px #918f97, 610px 0 0 -5px #918f97, 611px 0 0 -5px #918f97, 612px 0 0 -5px #918f97, 613px 0 0 -5px #918f97, 614px 0 0 -5px #918f97, 615px 0 0 -5px #918f97, 616px 0 0 -5px #918f97, 617px 0 0 -5px #918f97, 618px 0 0 -5px #918f97, 619px 0 0 -5px #918f97, 620px 0 0 -5px #918f97, 621px 0 0 -5px #918f97, 622px 0 0 -5px #918f97, 623px 0 0 -5px #918f97, 624px 0 0 -5px #918f97, 625px 0 0 -5px #918f97, 626px 0 0 -5px #918f97, 627px 0 0 -5px #918f97, 628px 0 0 -5px #918f97, 629px 0 0 -5px #918f97, 630px 0 0 -5px #918f97, 631px 0 0 -5px #918f97, 632px 0 0 -5px #918f97, 633px 0 0 -5px #918f97, 634px 0 0 -5px #918f97, 635px 0 0 -5px #918f97, 636px 0 0 -5px #918f97, 637px 0 0 -5px #918f97, 638px 0 0 -5px #918f97, 639px 0 0 -5px #918f97, 640px 0 0 -5px #918f97, 641px 0 0 -5px #918f97, 642px 0 0 -5px #918f97, 643px 0 0 -5px #918f97, 644px 0 0 -5px #918f97, 645px 0 0 -5px #918f97, 646px 0 0 -5px #918f97, 647px 0 0 -5px #918f97, 648px 0 0 -5px #918f97, 649px 0 0 -5px #918f97, 650px 0 0 -5px #918f97, 651px 0 0 -5px #918f97, 652px 0 0 -5px #918f97, 653px 0 0 -5px #918f97, 654px 0 0 -5px #918f97, 655px 0 0 -5px #918f97, 656px 0 0 -5px #918f97, 657px 0 0 -5px #918f97, 658px 0 0 -5px #918f97, 659px 0 0 -5px #918f97, 660px 0 0 -5px #918f97, 661px 0 0 -5px #918f97, 662px 0 0 -5px #918f97, 663px 0 0 -5px #918f97, 664px 0 0 -5px #918f97, 665px 0 0 -5px #918f97, 666px 0 0 -5px #918f97, 667px 0 0 -5px #918f97, 668px 0 0 -5px #918f97, 669px 0 0 -5px #918f97, 670px 0 0 -5px #918f97, 671px 0 0 -5px #918f97, 672px 0 0 -5px #918f97, 673px 0 0 -5px #918f97, 674px 0 0 -5px #918f97, 675px 0 0 -5px #918f97, 676px 0 0 -5px #918f97, 677px 0 0 -5px #918f97, 678px 0 0 -5px #918f97, 679px 0 0 -5px #918f97, 680px 0 0 -5px #918f97, 681px 0 0 -5px #918f97, 682px 0 0 -5px #918f97, 683px 0 0 -5px #918f97, 684px 0 0 -5px #918f97, 685px 0 0 -5px #918f97, 686px 0 0 -5px #918f97, 687px 0 0 -5px #918f97, 688px 0 0 -5px #918f97, 689px 0 0 -5px #918f97, 690px 0 0 -5px #918f97, 691px 0 0 -5px #918f97, 692px 0 0 -5px #918f97, 693px 0 0 -5px #918f97, 694px 0 0 -5px #918f97, 695px 0 0 -5px #918f97, 696px 0 0 -5px #918f97, 697px 0 0 -5px #918f97, 698px 0 0 -5px #918f97, 699px 0 0 -5px #918f97, 700px 0 0 -5px #918f97, 701px 0 0 -5px #918f97, 702px 0 0 -5px #918f97, 703px 0 0 -5px #918f97, 704px 0 0 -5px #918f97, 705px 0 0 -5px #918f97, 706px 0 0 -5px #918f97, 707px 0 0 -5px #918f97, 708px 0 0 -5px #918f97, 709px 0 0 -5px #918f97, 710px 0 0 -5px #918f97, 711px 0 0 -5px #918f97, 712px 0 0 -5px #918f97, 713px 0 0 -5px #918f97, 714px 0 0 -5px #918f97, 715px 0 0 -5px #918f97, 716px 0 0 -5px #918f97, 717px 0 0 -5px #918f97, 718px 0 0 -5px #918f97, 719px 0 0 -5px #918f97, 720px 0 0 -5px #918f97, 721px 0 0 -5px #918f97, 722px 0 0 -5px #918f97, 723px 0 0 -5px #918f97, 724px 0 0 -5px #918f97, 725px 0 0 -5px #918f97, 726px 0 0 -5px #918f97, 727px 0 0 -5px #918f97, 728px 0 0 -5px #918f97, 729px 0 0 -5px #918f97, 730px 0 0 -5px #918f97, 731px 0 0 -5px #918f97, 732px 0 0 -5px #918f97, 733px 0 0 -5px #918f97, 734px 0 0 -5px #918f97, 735px 0 0 -5px #918f97, 736px 0 0 -5px #918f97, 737px 0 0 -5px #918f97, 738px 0 0 -5px #918f97, 739px 0 0 -5px #918f97, 740px 0 0 -5px #918f97, 741px 0 0 -5px #918f97, 742px 0 0 -5px #918f97, 743px 0 0 -5px #918f97, 744px 0 0 -5px #918f97, 745px 0 0 -5px #918f97, 746px 0 0 -5px #918f97, 747px 0 0 -5px #918f97, 748px 0 0 -5px #918f97, 749px 0 0 -5px #918f97, 750px 0 0 -5px #918f97, 751px 0 0 -5px #918f97, 752px 0 0 -5px #918f97, 753px 0 0 -5px #918f97, 754px 0 0 -5px #918f97, 755px 0 0 -5px #918f97, 756px 0 0 -5px #918f97, 757px 0 0 -5px #918f97, 758px 0 0 -5px #918f97, 759px 0 0 -5px #918f97, 760px 0 0 -5px #918f97, 761px 0 0 -5px #918f97, 762px 0 0 -5px #918f97, 763px 0 0 -5px #918f97, 764px 0 0 -5px #918f97, 765px 0 0 -5px #918f97, 766px 0 0 -5px #918f97, 767px 0 0 -5px #918f97, 768px 0 0 -5px #918f97, 769px 0 0 -5px #918f97, 770px 0 0 -5px #918f97, 771px 0 0 -5px #918f97, 772px 0 0 -5px #918f97, 773px 0 0 -5px #918f97, 774px 0 0 -5px #918f97, 775px 0 0 -5px #918f97, 776px 0 0 -5px #918f97, 777px 0 0 -5px #918f97, 778px 0 0 -5px #918f97, 779px 0 0 -5px #918f97, 780px 0 0 -5px #918f97, 781px 0 0 -5px #918f97, 782px 0 0 -5px #918f97, 783px 0 0 -5px #918f97, 784px 0 0 -5px #918f97, 785px 0 0 -5px #918f97, 786px 0 0 -5px #918f97, 787px 0 0 -5px #918f97, 788px 0 0 -5px #918f97, 789px 0 0 -5px #918f97, 790px 0 0 -5px #918f97, 791px 0 0 -5px #918f97, 792px 0 0 -5px #918f97, 793px 0 0 -5px #918f97, 794px 0 0 -5px #918f97, 795px 0 0 -5px #918f97, 796px 0 0 -5px #918f97, 797px 0 0 -5px #918f97, 798px 0 0 -5px #918f97, 799px 0 0 -5px #918f97, 800px 0 0 -5px #918f97, 801px 0 0 -5px #918f97, 802px 0 0 -5px #918f97, 803px 0 0 -5px #918f97, 804px 0 0 -5px #918f97, 805px 0 0 -5px #918f97, 806px 0 0 -5px #918f97, 807px 0 0 -5px #918f97, 808px 0 0 -5px #918f97, 809px 0 0 -5px #918f97, 810px 0 0 -5px #918f97, 811px 0 0 -5px #918f97, 812px 0 0 -5px #918f97, 813px 0 0 -5px #918f97, 814px 0 0 -5px #918f97, 815px 0 0 -5px #918f97, 816px 0 0 -5px #918f97, 817px 0 0 -5px #918f97, 818px 0 0 -5px #918f97, 819px 0 0 -5px #918f97, 820px 0 0 -5px #918f97, 821px 0 0 -5px #918f97, 822px 0 0 -5px #918f97, 823px 0 0 -5px #918f97, 824px 0 0 -5px #918f97, 825px 0 0 -5px #918f97, 826px 0 0 -5px #918f97, 827px 0 0 -5px #918f97, 828px 0 0 -5px #918f97, 829px 0 0 -5px #918f97, 830px 0 0 -5px #918f97, 831px 0 0 -5px #918f97, 832px 0 0 -5px #918f97, 833px 0 0 -5px #918f97, 834px 0 0 -5px #918f97, 835px 0 0 -5px #918f97, 836px 0 0 -5px #918f97, 837px 0 0 -5px #918f97, 838px 0 0 -5px #918f97, 839px 0 0 -5px #918f97, 840px 0 0 -5px #918f97, 841px 0 0 -5px #918f97, 842px 0 0 -5px #918f97, 843px 0 0 -5px #918f97, 844px 0 0 -5px #918f97, 845px 0 0 -5px #918f97, 846px 0 0 -5px #918f97, 847px 0 0 -5px #918f97, 848px 0 0 -5px #918f97, 849px 0 0 -5px #918f97, 850px 0 0 -5px #918f97, 851px 0 0 -5px #918f97, 852px 0 0 -5px #918f97, 853px 0 0 -5px #918f97, 854px 0 0 -5px #918f97, 855px 0 0 -5px #918f97, 856px 0 0 -5px #918f97, 857px 0 0 -5px #918f97, 858px 0 0 -5px #918f97, 859px 0 0 -5px #918f97, 860px 0 0 -5px #918f97, 861px 0 0 -5px #918f97, 862px 0 0 -5px #918f97, 863px 0 0 -5px #918f97, 864px 0 0 -5px #918f97, 865px 0 0 -5px #918f97, 866px 0 0 -5px #918f97, 867px 0 0 -5px #918f97, 868px 0 0 -5px #918f97, 869px 0 0 -5px #918f97, 870px 0 0 -5px #918f97, 871px 0 0 -5px #918f97, 872px 0 0 -5px #918f97, 873px 0 0 -5px #918f97, 874px 0 0 -5px #918f97, 875px 0 0 -5px #918f97, 876px 0 0 -5px #918f97, 877px 0 0 -5px #918f97, 878px 0 0 -5px #918f97, 879px 0 0 -5px #918f97, 880px 0 0 -5px #918f97, 881px 0 0 -5px #918f97, 882px 0 0 -5px #918f97, 883px 0 0 -5px #918f97, 884px 0 0 -5px #918f97, 885px 0 0 -5px #918f97, 886px 0 0 -5px #918f97, 887px 0 0 -5px #918f97, 888px 0 0 -5px #918f97, 889px 0 0 -5px #918f97, 890px 0 0 -5px #918f97, 891px 0 0 -5px #918f97, 892px 0 0 -5px #918f97, 893px 0 0 -5px #918f97, 894px 0 0 -5px #918f97, 895px 0 0 -5px #918f97, 896px 0 0 -5px #918f97, 897px 0 0 -5px #918f97, 898px 0 0 -5px #918f97, 899px 0 0 -5px #918f97, 900px 0 0 -5px #918f97, 901px 0 0 -5px #918f97, 902px 0 0 -5px #918f97, 903px 0 0 -5px #918f97, 904px 0 0 -5px #918f97, 905px 0 0 -5px #918f97, 906px 0 0 -5px #918f97, 907px 0 0 -5px #918f97, 908px 0 0 -5px #918f97, 909px 0 0 -5px #918f97, 910px 0 0 -5px #918f97, 911px 0 0 -5px #918f97, 912px 0 0 -5px #918f97, 913px 0 0 -5px #918f97, 914px 0 0 -5px #918f97, 915px 0 0 -5px #918f97, 916px 0 0 -5px #918f97, 917px 0 0 -5px #918f97, 918px 0 0 -5px #918f97, 919px 0 0 -5px #918f97, 920px 0 0 -5px #918f97, 921px 0 0 -5px #918f97, 922px 0 0 -5px #918f97, 923px 0 0 -5px #918f97, 924px 0 0 -5px #918f97, 925px 0 0 -5px #918f97, 926px 0 0 -5px #918f97, 927px 0 0 -5px #918f97, 928px 0 0 -5px #918f97, 929px 0 0 -5px #918f97, 930px 0 0 -5px #918f97, 931px 0 0 -5px #918f97, 932px 0 0 -5px #918f97, 933px 0 0 -5px #918f97, 934px 0 0 -5px #918f97, 935px 0 0 -5px #918f97, 936px 0 0 -5px #918f97, 937px 0 0 -5px #918f97, 938px 0 0 -5px #918f97, 939px 0 0 -5px #918f97, 940px 0 0 -5px #918f97, 941px 0 0 -5px #918f97, 942px 0 0 -5px #918f97, 943px 0 0 -5px #918f97, 944px 0 0 -5px #918f97, 945px 0 0 -5px #918f97, 946px 0 0 -5px #918f97, 947px 0 0 -5px #918f97, 948px 0 0 -5px #918f97, 949px 0 0 -5px #918f97, 950px 0 0 -5px #918f97, 951px 0 0 -5px #918f97, 952px 0 0 -5px #918f97, 953px 0 0 -5px #918f97, 954px 0 0 -5px #918f97, 955px 0 0 -5px #918f97, 956px 0 0 -5px #918f97, 957px 0 0 -5px #918f97, 958px 0 0 -5px #918f97, 959px 0 0 -5px #918f97, 960px 0 0 -5px #918f97, 961px 0 0 -5px #918f97, 962px 0 0 -5px #918f97, 963px 0 0 -5px #918f97, 964px 0 0 -5px #918f97, 965px 0 0 -5px #918f97, 966px 0 0 -5px #918f97, 967px 0 0 -5px #918f97, 968px 0 0 -5px #918f97, 969px 0 0 -5px #918f97, 970px 0 0 -5px #918f97, 971px 0 0 -5px #918f97, 972px 0 0 -5px #918f97, 973px 0 0 -5px #918f97, 974px 0 0 -5px #918f97, 975px 0 0 -5px #918f97, 976px 0 0 -5px #918f97, 977px 0 0 -5px #918f97, 978px 0 0 -5px #918f97, 979px 0 0 -5px #918f97, 980px 0 0 -5px #918f97, 981px 0 0 -5px #918f97, 982px 0 0 -5px #918f97, 983px 0 0 -5px #918f97, 984px 0 0 -5px #918f97, 985px 0 0 -5px #918f97, 986px 0 0 -5px #918f97, 987px 0 0 -5px #918f97, 988px 0 0 -5px #918f97, 989px 0 0 -5px #918f97, 990px 0 0 -5px #918f97, 991px 0 0 -5px #918f97, 992px 0 0 -5px #918f97, 993px 0 0 -5px #918f97, 994px 0 0 -5px #918f97, 995px 0 0 -5px #918f97, 996px 0 0 -5px #918f97, 997px 0 0 -5px #918f97, 998px 0 0 -5px #918f97, 999px 0 0 -5px #918f97, 1000px 0 0 -5px #918f97;
  -webkit-transition: background-color 150ms;
  transition: background-color 150ms;
}

.e-range::-moz-range-track,
.e-range::-moz-range-progress {
  width: 100%;
  height: 30px;
  background: linear-gradient(to bottom, #918f97, #918f97) 100% 50%/100% 3px no-repeat transparent;
}

.e-range::-moz-range-progress {
  background: linear-gradient(to bottom, #c036d0, #c036d0) 100% 50%/100% 3px no-repeat transparent;
}

.e-range::-moz-range-thumb {
  -moz-appearance: none;
       appearance: none;
  margin: 0;
  height: 13px;
  width: 13px;
  background: #50e3c2;
  border-radius: 100%;
  border: 0;
  -webkit-transition: background-color 150ms;
  transition: background-color 150ms;
}

.e-range::-ms-track {
  width: 100%;
  height: 30px;
  border: 0;
  color: transparent;
  background: transparent;
}

.e-range::-ms-fill-lower {
  background: linear-gradient(to bottom, #c036d0, #c036d0) 100% 50%/100% 3px no-repeat transparent;
}

.e-range::-ms-fill-upper {
  background: linear-gradient(to bottom, #918f97, #918f97) 100% 50%/100% 3px no-repeat transparent;
}

.e-range::-ms-thumb {
  appearance: none;
  height: 13px;
  width: 13px;
  background: #50e3c2;
  border-radius: 100%;
  border: 0;
  -webkit-transition: background-color 150ms;
  transition: background-color 150ms;
  top: 0;
  margin: 0;
  box-shadow: none;
}

.e-range:hover::-webkit-slider-thumb,
.e-range:focus::-webkit-slider-thumb {
  background-color: #50e3c2;
}

.e-range:hover::-moz-range-thumb,
.e-range:focus::-moz-range-thumb {
  background-color: #50e3c2;
}

.e-range:hover::-ms-thumb,
.e-range:focus::-ms-thumb {
  background-color: #50e3c2;
}

.time-track {
  color: #fff;
  font-size: 12pt;
}

.queue-listing {
  background: #2c2939;
  padding-top: 16pt;
  padding-bottom: 24pt;
  padding-right: 28pt;
  padding-left: 28pt;
}

.queue-listing .queue-listing-header {
  font-size: 14pt;
  color: #918f97;
  text-transform: uppercase;
}

.queue-listing .listing .play-button {
  height: 57pt;
  width: 57pt;
  border: 1px solid #918f97;
  border-radius: 100%;
  position: relative;
}

.queue-listing .listing .play-button img {
  width: 15pt;
  height: 17pt;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.queue-listing .listing .ep-name {
  font-size: 14pt;
  color: #e6e6e6;
}

.queue-listing .listing .show-name {
  font-size: 12pt;
  color: #918f97;
  font-weight: 600;
}

.queue-listing .listing .duration {
  font-size: 12pt;
  color: #918f97;
}

.queue-listing .listing .more img {
  width: 18pt;
  height: 20pt;
  margin-left: auto;
}

.queue-listing .listing .data-list {
  margin-top: 28pt;
}

.queue-listing .listing .close-queue {
  margin-top: 27pt;
}

.queue-listing .listing .close-queue .close-button {
  width: 30pt;
  height: 30pt;
  background: #413e4d;
  border-radius: 25px;
  position: relative;
}

.queue-listing .listing .close-queue .close-button img {
  width: 6pt;
  height: 6pt;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}
/*# sourceMappingURL=queue.css.map */