@import "../index";

.main-container {
  background-color: $primaryBg;
  font-family: "Roboto";
  background-image: url("../../images/coverImage@3x.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 375pt;
  .img-overlay {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;

    width: 100%;
  }
}
.header-section {
  margin-top: 66px;
  padding-right: 20pt;
  padding-left: 20pt;
  .brand-name {
    text-transform: uppercase;
    font-size: 18pt;
    color: $secondaryTextColor;
    line-height: 1.1;
    font-weight: 800;
  }
  .brand-subname {
    text-transform: uppercase;
    font-size: 14pt;
    color: $secondaryTextColor;
    line-height: 1.1;
  }
  img {
    height: 40pt;
    width: 40pt;
  }
}

.title-detail-desc {
  padding: 0 28pt;
  margin-top: 130pt;
  background: linear-gradient(to bottom, rgba(44, 41, 57, 0), rgb(44, 41, 57));
  .now-playing {
    background: rgba(44, 41, 57, 0.5);
    padding: 2pt 9pt;
    color: $primaryTextColor;
    border-radius: 15pt;
    font-size: 12pt;
  }
  .track-sectio-d {
    margin-top: 6pt;
  }
  .track-name {
    font-size: 18pt;
    color: #fff;
    letter-spacing: 0;
  }
  .eps-name {
    font-size: 14pt;
    color: #918f97;
  }
  .play-button {
    height: 57pt;
    width: 57pt;
    border: 1px solid #918f97;
    border-radius: 100%;
    position: relative;
    margin-left: auto;
    img {
      width: 15pt;
      height: 17pt;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
    }
  }
}

.seek-row {
  background: rgb(44, 41, 57);
  padding: 0 28pt;
}

// slider
// excess height to improve interactive area / accessibility
$height: 30px;
$thumb-height: 13px;
$track-height: 3px;

// colours
$upper-color: #918f97;
$lower-color: rgb(192, 54, 208);
$thumb-color: rgb(80, 227, 194);
$thumb-hover-color: rgb(80, 227, 194);

$upper-background: linear-gradient(to bottom, $upper-color, $upper-color) 100%
  50% / 100% $track-height no-repeat transparent;
$lower-background: linear-gradient(to bottom, $lower-color, $lower-color) 100%
  50% / 100% $track-height no-repeat transparent;

// Webkit cannot style progress so we fake it with a long shadow
// on the thumb element
@function webkit-slider-thumb-shadow($i: 1) {
  $val: #{$i}px 0 0 -#{($thumb-height - $track-height) / 2} #{$upper-color};
  @if $i == 1 {
    @for $k from 2 through 1000 {
      $val: #{$val}, webkit-slider-thumb-shadow($k);
    }
  }
  @return $val;
}

.e-range {
  display: block;
  appearance: none;
  width: 100%;
  margin: 0;
  height: $height;
  overflow: hidden;
  cursor: pointer;
  background: transparent;
  &:focus {
    outline: none;
  }
}

// Webkit
.e-range::-webkit-slider-runnable-track {
  width: 100%;
  height: $height;
  background: $lower-background;
}

.e-range::-webkit-slider-thumb {
  position: relative;
  appearance: none;
  height: $thumb-height;
  width: $thumb-height;
  background: $thumb-color;
  border-radius: 100%;
  border: 0;
  top: 50%;
  margin-top: (-$thumb-height/2);
  box-shadow: webkit-slider-thumb-shadow();
  transition: background-color 150ms;
}

// Firefox
.e-range::-moz-range-track,
.e-range::-moz-range-progress {
  width: 100%;
  height: $height;
  background: $upper-background;
}

.e-range::-moz-range-progress {
  background: $lower-background;
}

.e-range::-moz-range-thumb {
  appearance: none;
  margin: 0;
  height: $thumb-height;
  width: $thumb-height;
  background: $thumb-color;
  border-radius: 100%;
  border: 0;
  transition: background-color 150ms;
}

// Internet Exploder
.e-range::-ms-track {
  width: 100%;
  height: $height;
  border: 0;
  // color needed to hide track marks
  color: transparent;
  background: transparent;
}

.e-range::-ms-fill-lower {
  background: $lower-background;
}

.e-range::-ms-fill-upper {
  background: $upper-background;
}

.e-range::-ms-thumb {
  appearance: none;
  height: $thumb-height;
  width: $thumb-height;
  background: $thumb-color;
  border-radius: 100%;
  border: 0;
  transition: background-color 150ms;
  // IE Edge thinks it can support -webkit prefixes
  top: 0;
  margin: 0;
  box-shadow: none;
}

.e-range:hover,
.e-range:focus {
  &::-webkit-slider-thumb {
    background-color: $thumb-hover-color;
  }
  &::-moz-range-thumb {
    background-color: $thumb-hover-color;
  }
  &::-ms-thumb {
    background-color: $thumb-hover-color;
  }
}

.time-track {
  color: #fff;
  font-size: 12pt;
}

.queue-listing {
  background: rgb(44, 41, 57);
  padding-top: 16pt;
  padding-bottom: 24pt;
  padding-right: 28pt;
  padding-left: 28pt;
  .queue-listing-header {
    font-size: 14pt;
    color: #918f97;
    text-transform: uppercase;
  }
  .listing {

    .play-button {
      height: 57pt;
      width: 57pt;
      border: 1px solid #918f97;
      border-radius: 100%;
      position: relative;

      img {
        width: 15pt;
        height: 17pt;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
      }
    }
    .ep-name {
      font-size: 14pt;
      color: rgb(230, 230, 230);
    }
    .show-name {
      font-size: 12pt;
      color: #918f97;
      font-weight: 600;
    }
    .duration {
      font-size: 12pt;
      color: #918f97;
    }
    .more img {
      width: 18pt;
      height: 20pt;
      margin-left: auto;
    }
    .data-list {
      margin-top: 28pt;
    }
    .close-queue {
      margin-top: 27pt;
      .close-button {
        width: 30pt;
        height: 30pt;
        background: #413e4d;
        border-radius: 25px;
        position: relative;
        img {
          width: 6pt;
          height: 6pt;
          position: absolute;
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%);
        }
      }
    }
  }
}
